In [1]:
import pandas as pd

## Importación de Datos

Impotar los datos de venta del supermercado en un archivo .csv

In [3]:
df_ventas = pd.read_csv('sesion_Ventas_de_supermercado.csv')

df_ventas

,Producto,Fecha de Venta,Cantidad Vendida,Costo Producto,Precio Venta,Ganancia
0,Producto D,2023-12-04,35,39.95,51.74,412.65
1,Producto A,2023-04-08,25,42.94,62.32,484.50
2,Producto B,2023-09-09,26,45.65,55.55,257.40
3,Producto A,2023-06-07,22,21.08,24.78,81.40
4,Producto D,2023-09-25,52,14.91,20.59,295.36
...,...,...,...,...,...,...
995,Producto A,2023-09-10,80,44.69,61.19,1320.00
996,Producto D,2023-11-16,94,28.43,38.08,907.10
997,Producto E,2023-06-14,21,22.29,31.93,202.44
998,Producto D,2023-12-06,15,23.47,27.60,61.95
999,Producto E,2023-12-02,45,35.63,48.43,576.00

In [6]:
df_ventas.describe()

       Cantidad Vendida  Costo Producto  Precio Venta     Ganancia
count       1000.000000     1000.000000   1000.000000  1000.000000
mean          50.872000       26.926920     34.990880   411.151540
std           29.637206       12.853011     17.105317   391.553003
min            1.000000        5.020000      5.620000     1.960000
25%           24.750000       16.180000     20.597500   115.800000
50%           50.000000       26.515000     34.320000   290.240000
75%           77.000000       38.025000     49.640000   572.812500
max          100.000000       49.990000     72.950000  2182.500000